body,
dl,
dd,
ul,
ol,
td,
th,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form {
    margin: 0;
    padding: 0;
    font-family: 宋体;
    user-select: none;
}
body
{
    background-color: rgb(254,254,246);
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* 设置网页页面的背景颜色 */
.all_page
{
    background-color: rgb(254,254,246);
    max-width: 1800px;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
    overflow: hidden;
}

i
{
    position: fixed;
    margin-top: 70px;
    padding: 20px;
    color: grey;
    opacity: 0.2;
    font-size: 20px;
    z-index: 99;
}

/* 清除浮动和高度塌陷 */

.clearFix:before,
.clearFix:after {
    content: "";
    display: table;
    clear: both;
}