header
{
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 2;
}

.nav_div
{
    background: #27272f;
    opacity: 0.9;
    height: 45px;
}
.nav_ul
{
    padding-left: 8.8%;
    margin: 0;
}

.nav_ul li
{
    width: 15%;
    float: left;
    height: 45px;
    position: relative;
}

.nav_ul img
{
    width: 75px;
    height: 40px;
}

.nav_ul a
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #a6b0c2;
    line-height: 0;
}

.nav_ul a:hover
{
    color: #eb6865;
}

.header_pfont
{
    color: white;
    text-align: center;
    line-height: 45px;
}



