
.original_painting
{
    position: relative;
    margin-top: 0px;
    margin-bottom: 100px;
    background-image: url(../../img/original_painting/bj1.jpg);
    background-repeat: no-repeat;
}
.original_painting .background
{
    margin: 0px;
    height: 750px;
}

.original_painting .ani_tree
{
    float: right;
    position: relative;
    opacity: 0;
    right: -250px;
    transition: right 1.2s ease 0s, opacity 1.4s ease 0s;
}

.original_painting .text
{
    position: absolute;
    top: 90px;
    left: 0px;
    opacity: 0;
    transition: left 2s ease 0.5s, opacity 2s ease 0.5s;
    text-shadow: 2px 2px 4px rgb(128,128,128,0.7);
}

.original_painting .text h2
{
    font-size: 45px;
}

.original_painting .text h3
{
    margin-left: 5px;
}

.original_painting_img
{
    position: absolute;
    top: 80px;
    left: -250px;
    opacity: 0;
    transition: left 2s ease 1s, opacity 2s ease 1s;
}

.original_painting_img img
{
    position: absolute;
    transform: scale(0.7);
    border-radius: 30px;
    box-shadow: 15px 15px 20px 10px rgb(0,0,0,0.2), -5px -5px 20px 0 rgb(0,0,0,0.2);
    opacity: 0;
    transition: opacity 3s ease 0s;
}

.original_painting_img :nth-child(1)
{
    opacity: 1;
}

/* 左右按钮 */
.btn
{
    font-size: 30px;
    position: absolute;
    top: 310px;
    left: 122px;
    padding: 30px;
}
.goNext
{
    left: 1080px; 
}
/* 人物名字 */
.original_painting_name
{
    position: absolute;
    top: 190px;
    left: 1000px;
    opacity: 0;
    transition: left 2s ease 0.85s, opacity 2s ease 0.85s;
}
.original_painting_name .name
{
    position: absolute;
    opacity: 0;
    transition: opacity 3s ease 0.3s;
}

.original_painting_name :nth-child(1)
{
    opacity: 1;
}

.original_painting_name p
{
    position: absolute;
    top: 43px;
    left: 10px;
    color: white;
    font-size: 18px;
}

.original_painting_name :nth-child(3) p
{
    top: 50px;
}
